# .gitattributes
# always use Unix LF
.gitattributes eol=lf
.gitignore eol=lf
*.ld text eol=lf
# anomaly in using CRLF vs LF
/Disco1_GPIO/Core/Src/syscalls.c text eol=lf
/Disco1_GPIOCore/Src/sysmem.c text eol=lf
/Disco2_UART/Core/Src/syscalls.c text eol=lf
/Disco2_UART/Core/Src/sysmem.c text eol=lf
/Disco3_LCD//Core/Src/syscalls.c text eol=lf
/Disco3_LCD/Core/Src/sysmem.c text eol=lf
